---
layout: default
---

<div class='o-wrapper-short-bio'>
  <div class='o-grid'>
	Hey, I'm Avi! I'm a software engineer interested in iOS application development and Internet of Things (IoT) systems, mostly writing Swift, Javascript and Python. Prototypes is a log of projects I've dedicated time towards with the goal of learning, experimenting with technologies, and building projects.
  </div>
</div>

<div class='o-wrapper'>
  <div class='o-grid'>
    {% for post in paginator.posts %}
      {% include post-card.liquid %}
    {% endfor %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>